body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.95em;
  text-align: center;
}

#content, #navigation-footer {
  width: 1000px;
  margin: 0 auto;
  text-align: left;
}

a {
  color: #4183C4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#shows {
  width: 400px;
}

#shows li {
  border-color: #E5E5E5;
  border-style: none none solid;
  border-width: medium medium 1px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.show-name {
  width: 17em;
  display: inline-block;
}

.day {
  float: left;
  width: 9.3em;
}

.day h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.day .date {
  color: #BBBBBB;
  font-size: small;
  font-weight: bold;
}

.day h4 {
  letter-spacing: 0.1em;
  padding-top: 0.4em;
}

.day ol {
  padding-left: 1.4em;
  font-size: 0.95em;
}

.day ol li {
  margin-bottom: 0.2em;
}

.day ol li span {
 font-size: 0.7em;
}

.today {
  background-color: #F0F0F0;
}

#week {
  overflow: auto;
}

#navigation-footer {
  clear: both;
  padding-top: 1em;
  text-align: center;
}

ul.messages {
  list-style-type: none;
  padding-left: 0;
}

ul.messages li {
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 0.5em;
}

ul.messages li.success {
  background-color: #75845C;
}

ul.messages li.error {
  background-color: red;
}

table.episodes {
  border-collapse: collapse;
  margin: 20px;
  color: #666;
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  background: #eaebec;
  border: #ccc 1px solid;
  border-radius: 3px;
  box-shadow: 0 1px 2px #d1d1d1;
  text-shadow: 1px 1px 0px #fff;
}

table.episodes tr {
  padding-left: 20px;
  text-align: center
}

table.episodes tr.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
}

table.episodes th {
  padding: 21px 25px 22px 25px;
  border-bottom: 1px solid #e0e0e0; border-top: 1px solid #fafafa;
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top, #ededed, #ebebeb);
}

table.episodes tr td {
  padding: 18px;
  border-bottom: 1px solid #e0e0e0; border-left: 1px solid #e0e0e0; border-top: 1px solid #ffffff;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}
