{% extends "admin/base.html" %}

{% block admin-content %}
{% if show %}
<div id="{{ status|lower }}"><em>{{ status }}</em></div>
<h2>Editing Episode - {{ show }}</h2>
<form action="{% url home:admin-edit-show show.key.id %}" method="post">
  <ul id="show-edit">
    <li><span>Name: </span><input type="text" name="show-name" value="{{ show.name }}" /></li>
    <li><span>Url: </span><input type="text" name="show-url" value="{{ show.url }}" /></li>
    <li><span>Season: </span><input type="text" name="show-season" value="{{ show.season }}" /></li>
    <li><span>Last Seen: </span><input type="text" id="show-last-seen" name="show-last-seen" value="{{ show.last_seen }}" /><span class="increment-episode">+</span><span class="decrement-episode">-</span></li>
  </ul>
  <input type="submit" value="Save" />
</form>
{% else %}
<h2>Show does not exist</h2>
{% endif %}
{% endblock %}
