{% extends "base.html" %}

{% block content %}
<h2>{{ show.name }}, Season {{ show.season }} - Episodes</h2>

{% if user.is_authenticated %}
<form action="" method="post">{% csrf_token %}
  <input type="submit" value="Refresh" />
</form>
{% endif %}

<table class="episodes">
  <tr>
    <th>Episode</th>
    <th>Name</th>
    <th>First Aired</th>
    <th>Status</th>
  </tr>
{% for episode in episodes %}
  {% cycle 'even' 'odd' as row_colour silent %}
  <tr class="{{ row_colour }}">
    <td>{{ episode.number }}</td>
    <td>{{ episode.name }}</td>
    <td>{{ episode.air_date }}</td>
    <td>
      {% if episode.has_seen %}
        Watched
      {% elif episode.is_new %}
        NEW
      {% endif %}
    </td>
  </tr>
{% endfor %}
</table>

{% endblock %}
